# dependencies
**/node_modules

# build
**/dist
./packages/client/public/main.css
./packages/client/public/main.css.map
./packages/client/public/main.js
./packages/client/public/main.js.map
LICENSE

# misc
.DS_Store
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
